@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}


.each-fade-effect {
  display: flex;
  width: 100%;
  height: 50vh;
}

.each-fade-effect>div {
  width: 100%;
}

.each-fade-effect>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media  (max-width: 500px min-width: 320px) {
  .each-fade-effect {
    display: flex;
    width: 100%;
    height: 50vh;
  }
  
  .each-fade-effect>div {
    width: 100%;
  }
  
  .each-fade-effect>div img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}

  .backgroundImage{
    justify-items: center;
    object-fit: cover;
}
